html{
	margin: 0;
	padding: 0;
	background-color: #FFFACD;
}

body{
		background-color: #F5F5F5;
}

@media screen and (max-width: 980px){

	#container{
		padding: 3px;
		width: 95%;
	}
	
	#leftCol, #centerCol, #rightCol{
		float: none;
		width: 100%;
		padding: 3px;
	}	
	
	img {
		width: 25%;
	}
}